/* You can add global styles to this file, and also import other style files */

body {
  background-color: #222831;
  color: white;
}

:focus {
  outline: 1px solid #EEEEEE;
}

$primary-color: #00adb5;
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  span {
    font-weight: bold;
    font-size: 21px;
  }
  i {
    color: $primary-color;
  }
}

